# Prerequisites
*.d

# Object files
*.o

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Dynamic file
build/
deps/cJSON-1.7.7/*
deps/dbus-1.10.18/*
deps/libexpat/*

# Binary
demo/led/led_driver.zip
demo/led/main
demo/led/lib/
