# Prerequisites
*.d

# Object files
*.o

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Dynamic file
build/
deps/cJSON-master/*
deps/dbus-1.10.18/*
deps/libexpat/*

# Binary
demo/led/demo_led.zip
demo/led/main
demo/led/lib/
